# Klashar Backend Deployment Configuration
# ----------------------------------------

# Ensure UTF-8 encoding
AddDefaultCharset UTF-8

# Force HTTPS redirection (Disabled for localhost to prevent CORS preflight redirects)
RewriteEngine On
RewriteCond %{HTTP_HOST} !^localhost$ [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Routing Configuration
# If a file or directory exists, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, send everything to the index.php router
RewriteRule ^(.*)$ index.php [QSA,L]

# Prevent directory listing
Options -Indexes

# Protect security files
<Files ".env">
    Require all denied
</Files>


SetEnv STRIPE_SECRET_KEY "sk_test_51MZVhpGL57V6KGVdSpFEOX6n0Pqy1q4silObAJaKjSG3LBDw39I8ZN2xjH17oOiQCfgOT4FnxAlIA6DGohoYGlyJ00HT3g4cne"
SetEnv STRIPE_WEBHOOK_SECRET "whsec_uv4aYes1Ph0kb233WuYahkeHcs2V7ah6"
SetEnv STRIPE_PUBLISHABLE_KEY "pk_test_51MZVhpGL57V6KGVdvLELPaSu6hf5hmxfulAONkoc5sAv7PRjITe1AAPgAJnt4PfC2vhi6iew8EgugL8vgIPeTLWt00CqpL8X0G"